{% extends "base.html" %}
{% block title %}"{{ object.title }}" Photos{% endblock %}

{% block body %}
  <h2>{% if object.href %}<a href="{{ object.href }}">{% endif %}
      {{ object.title }}
    {% if object.href %}</a>{% endif %}
    <a href="edit/" class="tool" title="Edit">{{ object.date }}</a></h2>
  {% if object.description %}<p>{{ object.description }}</p>{% endif %}

  <h3>Matching photos</h3>
  {% for photo in object.photo_set.all %}
    <figure>
      <p><a href="{{ photo.url }}">
        <img src="{{ photo.src }}" alt="{{ photo.alt }}" />
      </a></p>
      <caption>{{ photo.date }}
        <a href="/photo/{{ photo.slug }}/groups/{{ object.slug }}/remove/" class="tool"
            title="Remove '{{ photo.name }}' from group '{{ object.name }}'">X</a>
      </caption>
    </figure>
  {% endfor %}
{% endblock %}
