{% extends "base.html" %}
{% group title %}"{{ object.name }}" Photos{% endgroup %}

{% group body %}
  <h2>{% if object.href %}<a href="{{ object.href }}">{% endif %}
      {{ object.name }}
    {% if object.href %}</a>{% endif %}
    <a href="edit/" class="tool" title="Edit">{{ object.date }}</a></h2>
  {% if object.description %}<p>{{ object.description }}</p>{% endif %}

  <h3>Matching photos</h3>
  {% for photo in object.photo_set %}
    <figure>
      <img src="{{ photo.src }}" alt="{{ photo.alt }}" />
      <caption>{{ photo.date }}
        <a href="/photos/{{ photo.slug }}/groups/{{ object.slug }}/remove/" class="tool"
            title="Remove '{{ photo.name }}' from group '{{ object.name }}'">X</a>
      </caption>
    </figure>
  {% endfor %}
{% endgroup %}
