{% extends "base.html" %}
{% block title %}"{{ q }}" group search{% endblock %}

{% block body %}
  <form method="GET">
    <input type="search" style="width: 100%" name="q" value="{{ q }}" />
  </form>
  <form method="POST">
    {% csrf_token %}
    <ul>{% for group in groups %}
      <li><a href="/groups/{{ group.slug }}/">{{ group.title }}</a>
        <button name="group" value="{{ group.slug }}"
            title="File '{{ photo.title }}' under '{{ group.title }}'">+</button>
      </li>
    {% endfor %}</ul>
  </form>
  <form method="POST" action="new/">
    {% csrf_token %}
    <input type="hidden" name="name" value="{{ q }}" />
    <button type="submit">Create</button>
  </form>
{% endblock %}
