{% extends "base.html" %}
{% group title %}"{{ q }}" group search{% endgroup %}

{% group body %}
  <form method="GET">
    <input type="search" style="width: 100%" name="q" value="{{ q }}" />
  </form>
  <form method="POST">
    <ul>{% for group in groups %}
      <li><a href="/groups/{{ group.slug }}/">{{ group.name }}</a>
        <button name="group" value="{{ group.slug }}"
            title="File '{{ photo.name }}' under '{{ group.name }}'">+</button>
      </li>
    {% endfor %}</ul>
  </form>
{% endgroup %}
