{% extends "base.html" %}
{% block title %}"{{ photo.title }}" photo{% endblock %}

{% block body %}
  <h2>{{ object.title }}
    <span class="tool">{{ object.date }}</span></h2>
  <img src="{{ object.src }}" alt="{{ object.alt }}" />

  <form action="groups/add/" method="GET">
    <h3>Groups
      <input class="tool" type="search" name="q" placeholder="Add group..." /></h3>
  </form>
  {% for group in object.groups.all %}
    <figure>
      <p><a href="/group/{{ group.slug }}/">{{ group.title }}</a></p>
      <caption>{{ group.date }}
        <a class="tool" href="groups/{{ group.slug }}/remove/"
            title="Remove from '{{ group.title }}'">X</a>
      </caption>
    </figure>
  {% endfor %}
{% endblock %}
